@mixin flex-base($direction:column,$justify:flex-start,$align:stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-base-style {
  all: unset;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.changePassword {
  .pageContainer {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #13131d;
    @include flex-base;
    .topSection {
      margin: auto;
      box-sizing: border-box;
      width: 95%;
      max-width: 360px;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      @include flex-base($direction:row,$justify:space-between,$align:center);
    }
    .previewButton {
      @include button-base-style;
      font-size: 16px;
      background-color: #00A3FF;
    }
  }

  .menuAndForm {
    @include flex-base($align:center);
    .editMenuContainer {
      margin: auto;
      width: 95%;
      max-width: 360px;
    }
    .formSection {
      margin: auto;
      width: 95%;
      max-width: 360px;
    }
    form {
      @include flex-base;
      width: 100%;
      box-sizing: border-box;
      background-color: rgb(28,28,42);
      margin: 20px 0 20px 0;
      padding: 40px 30px;
      border: solid 1px #858585;
      border-radius: 10px;
      color: #858585;
      h2 {
        color: white;
      }
      .textContainer {
        border-bottom: solid 1px grey;
        margin-bottom: 20px;
      }
    }
    label {
      @include flex-base;
      box-sizing: border-box;
      input[type="email"],input[type="password"] {
        box-sizing: border-box;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: rgb(36,36,54);
        border: solid 2px rgb(56,57,72);
        border-radius: 5px;
        color: white;
        cursor: auto;
      }
    }
    .changingInputs {
      @include flex-base;
    }
    .buttonContainer {
      margin-top: 20px;
      @include flex-base($direction:row,$justify:flex-end);
      .saveButton {
        @include button-base-style;
        background-color: #00A3FF;
      }
    }
  }

  @media(min-width:500px) {
    .pageContainer {
      .topSection {
        max-width: 500px;
      }
    }
    .menuAndForm {
      .editMenuContainer {
        max-width: 500px;
      }
      .formSection {
        max-width: 500px;
      }
    }
  }

  @media(min-width:768px) {
    .menuAndForm {
      .formSection {
        label {
          input[type="email"],input[type="password"] {
            height: 55px;
          }
          textarea {
            height: 80px;
          }
        }
      }
    }
  }

  @media(min-width:1200px) {
    .pageContainer {
      .topSection {
        max-width: 1000px;
      }
    }
    .menuAndForm {
      margin-bottom: 20px;
      @include flex-base($direction:row,$justify:center);
      .editMenuContainer {
        margin: 0;
        max-width: 350px;
      }
      .formSection {
        margin: 0;
        max-width: 630px;
        form {
          margin: 0;
        }
        .changingInputs {
          @include flex-base($direction:row,$justify:space-between);
          flex-wrap: wrap;
          label {
            input {
              width: 265px;
            }
          }
        }
      }
    }
  }
}


