.shop-secction{
  /* Modal.css */
  $main-background: #13131d;
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
<<<<<<< HEAD
    z-index: 0;
    top: 18em;
=======
    top: 15em;
>>>>>>> fix-details
    left: 10em;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: opacity .15s linear;
<<<<<<< HEAD
=======
    z-index: 0;
>>>>>>> fix-details
  }

  .modal {
    position: fixed;
    top: 18em;
    left: 11.7em;
    transform: translate(-50%, -50%);
    background-color: #13131d;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 20em;
    height: 27em;
<<<<<<< HEAD
    overflow: hidden;
=======
    z-index: 10;
>>>>>>> fix-details
    pointer-events: auto;
    border: 1px solid #acacac;
  }

  .modal-content-background {
    width: 17rem;
  }

  .modal-close{
    border-radius: 30px;
    background: hsla(0,0%,100%,.08);
    border: none;
    position: relative;
    margin-left: 25em;
    margin-top: 2em;
    width: 2em;
    height: 2em;
  }

  .bit-title{
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }
  .input{
    background: #24243557;
    height: 35px;
    width: 22em;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  .span-bit{
    display: flex;
    margin-top: -2em;
    margin-left: 16em;
    margin-bottom: 1em;
  }
  .bid-content-mid{
    padding: 20px 17px;
    display: flex;
    justify-content: space-between;
    width: 20em;
    gap: 80px;
    .left{
      display: flex;
      font-size: 12px;
      color: #acacac;
    }

  }

  .left-t{
    display: flex;
    font-size: 12px;
    color: #00a3ff;
  }

  .bit-button{
    background-color: #00a3ff;
    width: 18em;
    display: flex;
    height: 2.5em;
    margin-left: 1em;
    border-radius: 10px;
    align-items: center;
    .place{
      color: white;
      font-weight: 500;
      margin-left: 6em;
    }
  }
  .cancel{
    display: flex;
    margin-top: 8em;
    height: 3em;
    width: 5em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background: #212e48;
    margin-left: -13em;
    &:hover{
      background: #00a3ff;
    }
  }
  @media(min-width:768px) and (max-width:1023px){
    .modal-overlay{
      margin-left: 11em;
      margin-top: -9em;
    }
    .modal{
      margin-top: 14em;
      margin-left: 12em;
    }
    .modal-close{
      margin-top: 17em;
      margin-left: 40em;
    }
  }
  @media (min-width:1024px) and (max-width:1279px){
    .modal-overlay{
      margin-left: -14em;
<<<<<<< HEAD
      margin-top: -9em;
=======
      margin-top: -6em;
>>>>>>> fix-details
    }
    .modal{
      margin-top: 3em;
      margin-left: 20em;
    }
    .modal-close{
      margin-top: 4em;
      margin-left: 71em;
    }
  }
  @media (min-width:1280px) and (max-width:1360px){
    .modal-overlay{
      margin-left: -12em;
<<<<<<< HEAD
      margin-top: -19em;
=======
      margin-top: 0em;
>>>>>>> fix-details
    }
    .modal{
      margin-top: 9em;
      margin-left: 30em;
      width: 32em;
      height: 33em;
    }
    .modal-close{
      margin-top: 7em;
      margin-left: 89em;
    }
    .cancel{
      margin-left: -16em;
      font-size: 16px;
    }
    .bit-button{
      width: 27em;
      height: 3em;
      margin-left: 2.5em;
      margin-top: 0em;
      .place{
        font-size: 20px;
        margin-left: 8em;
      }
    }
    .bid-content-mid{
      margin-top: 1em;
      width: 27em;
      margin-left: 2em;
      .left{
        font-size: 16px;
      }
    }
    .left-t{
      font-size: 16px;
    }
    .modal-title{
      margin-top: 2em;
      font-size: 25px;
    }
    .parraf{
      font-size: 18px;
    }
    .bit-title{
      margin-left: 2em;
      font-size: 25px;
    }
    .input{
      width: 32em;
      height: 45px;
    }
    .span-bit{
      margin-left: 26em;
    }
  }
  @media (min-width:1361px) and (max-width:1440px){
    .modal-overlay{
      margin-left: -20em;
      margin-top: 6em;
    }
    .modal{
      margin-top: 9em;
      margin-left: 34em;
      width: 32em;
      height: 33em;
    }
    .modal-close{
      margin-top: 7em;
      margin-left: 101em;
    }
    .cancel{
      margin-left: -16em;
      font-size: 16px;
    }
    .bit-button{
      width: 27em;
      height: 3em;
      margin-left: 2.5em;
      margin-top: 0em;
      .place{
        font-size: 20px;
        margin-left: 8em;
      }
    }
    .bid-content-mid{
      margin-top: 1em;
      width: 27em;
      margin-left: 2em;
      .left{
        font-size: 16px;
      }
    }
    .left-t{
      font-size: 16px;
    }
    .modal-title{
      margin-top: 2em;
      font-size: 25px;
    }
    .parraf{
      font-size: 18px;
    }
    .bit-title{
      margin-left: 2em;
      font-size: 25px;
    }
    .input{
      width: 32em;
      height: 45px;
    }
    .span-bit{
      margin-left: 26em;
    }
  }
  @media (min-width:1441px){
    .modal-overlay{
      margin-left: -16em;
      margin-top: -1em;
    }
    .modal{
      margin-top: 9em;
      margin-left: 34em;
      width: 32em;
      height: 33em;
    }
    .modal-close{
      margin-top: 7em;
      margin-left: 101em;
    }
    .bit-button{
      width: 27em;
      height: 3em;
      margin-left: 2.5em;
      margin-top: 0em;
      .place{
        font-size: 20px;
        margin-left: 8em;
      }
    }
    .bid-content-mid{
      margin-top: 1em;
      width: 27em;
      margin-left: 2em;
      .left{
        font-size: 16px;
      }
    }
    .left-t{
      font-size: 16px;
    }
    .modal-title{
      margin-top: 2em;
      font-size: 25px;
    }
    .parraf{
      font-size: 18px;
    }
    .bit-title{
      margin-left: 2em;
      font-size: 25px;
    }
    .input{
      width: 32em;
      height: 45px;
    }
    .span-bit{
      margin-left: 26em;
    }
  }

}
