.shop-secction{
  /* Modal.css */
  $main-background: #13131d;
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: 0;
    top: 20em;
    left: 10em;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: opacity .15s linear;
  }

  .modal {
    position: fixed;
    top: 17em;
    left: 12.5em;
    transform: translate(-50%, -50%);
    background-color: #13131d;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 20em;
    height: 26em;
    overflow: hidden;
    pointer-events: auto; /* Habilita la interacción con el modal */
  }

  .modal-content-background {
    width: 17rem;
    /* Asegura que el contenido de fondo esté detrás del modal */
  }

  .modal-close{
    border-radius: 30px;
    background: hsla(0,0%,100%,.08);
    border: none;
    position: relative;
    margin-left: 26em;
    margin-top: 2em;
    width: 2em;
    height: 2em;
  }
  /* Resto de los estilos se mantienen igual como en el ejemplo anterior */
  .bit-title{
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }
  .input{
    background: #24243557;
    height: 35px;
    width: 22em;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  .span-bit{
    display: flex;
    margin-top: -2em;
    margin-left: 16em;
    margin-bottom: 1em;
  }
  .bid-content-mid{
    padding: 20px 17px;
    display: flex;
    justify-content: space-between;
    width: 20em;
    gap: 80px;
    .left{
      display: flex;
      font-size: 12px;
      color: #acacac;
    }

  }

  .left-t{
    display: flex;
    font-size: 12px;
    color: #00a3ff;
  }

  .bit-button{
    background-color: #00a3ff;
    width: 18em;
    display: flex;
    height: 2em;
    margin-left: 1em;
    border-radius: 10px;
    .place{
      color: white;
      font-weight: 500;
      margin-left: 6em;
    }
  }
  .cancel{
    display: flex;
    margin-top: 3em;
    height: 3em;
    width: 5em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background: #212e48;
    margin-left: -13em;
    &:hover{
      background: #00a3ff;
    }
  }

}
