* {
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}

.main {
  z-index: 1;
  min-height: 44vh;
  position: relative;
  padding-top: 170px;
  padding-bottom: 70px;
  background-color: #13131d;

  @media (min-width: 500px) {
    padding-top: 50px;
  }
}