.tab-secction{
  .product-tab{
    .wrapper{
      position: sticky;
      z-index: 10;
      top: 100px;
    }

    .tab-inner{
      display: flex;
      flex-direction: row;
    }

    .content{
      max-width: auto;
      height: auto;
      padding-left: 0em;
      padding-right: 3em;
      .tap-pane{
        height: auto;
      }

      .tum{
        background: #24243557;
        border-radius: 7px;
        border: 2px solid transparent;
        padding: 5px;
      }
      .img{
        color: transparent;
        width: 12em;
        height: 12em;
      }
    }
    .nav{
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      flex-basis: 25%;
      flex-direction: column;
      margin: -10px;
      padding-right: 20px;
      flex-wrap: wrap;
      padding-left: 2em;
      list-style: none;
      .link{
        background: none;
        padding: 0;
        border: 0;
        border-radius: 5px;
        transition: 0.4s;
        height: auto;
        width: 4.5em;
        margin: 10px;
        cursor: pointer;
        display: block;
        color: #0d6efd;
        text-decoration: none;
        transition: color .15s ease-in-out,
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out;
      }
      .tumb{
        padding: 5px;
        background:#24243557;
        border-radius: 5px;
        border: 2px solid transparent;
        display: block;
        .image{
          color: transparent;
          width: 3em;
          height: 3em;
        }
      }
    }
    position: sticky;
  }
}
