.tab-secction{
  .product-tab{
    .wrapper{
      position: sticky;
      z-index: 10;
      top: 100px;
    }

    .tab-inner{
      display: flex;
      flex-direction: row;
    }

    .content{
      max-width: auto;
      height: auto;
      padding-left: 0em;
      padding-right: 3em;
      .tap-pane{
        height: auto;
      }

      .tum{
        background: #24243557;
        border-radius: 7px;
        border: 2px solid transparent;
        padding: 5px;

      }
      .img{
        color: transparent;
        width: 12em;
        height: 12em;
        @media(min-width:768px) {
          width: 28em;
          height: 28em;
        }

        @media (min-width:1024px) and (max-width:1279px) {
          width: 20em;
          height: 20em;
        }
        @media (min-width:1361px) and (max-width:1440px){
          width: 32em;
          height: 32em;
        }
        @media (min-width:1441px){
          width: 32em;
          height: 32em;
        }
      }
      @media (min-width:768px) {
        padding-left: 2em;
      }
      @media (min-width:1024px) and (max-width:1279px) {
        padding-left: 2em;
      }

    }
    .nav{
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      flex-basis: 25%;
      flex-direction: column;
      margin: -10px;
      padding-right: 20px;
      flex-wrap: wrap;
      padding-left: 2em;
      list-style: none;
      .link{
        background: none;
        padding: 0;
        border: 0;
        border-radius: 5px;
        transition: 0.4s;
        height: auto;
        width: 4.5em;
        margin: 10px;
        cursor: pointer;
        display: block;
        color: #0d6efd;
        text-decoration: none;
        transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out;
      }
      .tumb{
        padding: 5px;
        background:#24243557;
        border-radius: 5px;
        border: 2px solid transparent;
        display: block;
        &:hover{
          border-color: #ffffff14;
        }
        .image{
          color: transparent;
          width: 3em;
          height: 3em;
          @media (min-width:768px) {
            width: 8em;
            height: 8em;
          }

          @media (min-width:1024px) and (max-width:1279px){
            width: 5em;
            height: 5em;
          }

          @media (min-width:1361px) and (max-width:1440px){
            width: 10em;
            height: 10em;
          }
          @media (min-width:1441px){
            width: 10em;
            height: 10em;
          }

        }
      }
      @media (min-width:768px) and (max-width:910px) {
        margin-right: -2em;
        margin-left: -2em;
        .link{
          width: 9.5em;
        }
      }
      @media (min-width:912px) and (max-width:1023px) {
        margin-right: -2em;
        margin-left: 2em;
        .link{
          width: 9.5em;
        }
      }
      @media (min-width:1024px) and (max-width:1279px) {
        margin-right: -2em;
        margin-left: -2em;
        .link{
          width: 6.5em;
        }
      }
      @media (min-width:1280px) and (max-width:1360px) {
        margin-right: -3em;
        margin-left: -2em;
        .link{
          width: 9.5em;
        }
      }

      @media (min-width:1361px) and (max-width:1440px) {
        margin-right: -2em;
        margin-left: 1em;
        .link{
          width: 11.5em;
        }
      }
      @media (min-width:1441px){
        margin-right: -2em;
        margin-left: 1em;
        .link{
          width: 11.5em;
        }
      }

    }
    position: sticky;
    @media (min-width:768px) {
      .tab-inner{
        margin-left: 3em;
      }
    }
  }
}
