$blue-color: #00A3FF;
$medium-color-blue: #212E48;

@mixin flex-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.top-arrow {
  @include flex-arrow;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  border: 2px solid $blue-color;
  border-radius: 50px;
  color: $blue-color;
  transition-duration: 0.5s;

  &:hover {
    border-radius: 50%;
    background-color: $medium-color-blue;
  }
}
