$grey-border: solid 1px #373737;
$grey-icons: #ACACAC;

@mixin flex-base-conditions($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-evenly;
    align-items: center;
}

@mixin button-and-input {
    all: unset;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #212E48;
    padding: 7px 12px;
}

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 40vw;
    max-width: 175px;
    margin: 2vh;
}

header {
    width: 100vw;
    background-color: #13131D;
    @include flex-base-conditions($direction: column);
    border: $grey-border;
    .buttonsContainer {
        @include flex-base-conditions;
    }
}

div.iconContainer {
    @include flex-base-conditions;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 3px 3px 10px 3px;
    color: $grey-icons;
    border: $grey-border;
    border-radius: 50%;
}

button {
    @include button-and-input;
    color: white;
    border-radius: 7px;
}

.searchBarContainer {
    margin: auto;
    @include flex-base-conditions;
    box-sizing: border-box;
    border: solid 1px #242435;
    width: 90vw;
    padding: 20px;
    background-color: #242435;
    .searchInput{
        @include button-and-input;
        width: 70vw;
        color: $grey-icons;
    }
    .searchButton{
        @include button-and-input;
        color: $grey-icons;
    }
}

@media(min-width: 500px) {
    img {
        max-width: 150px;
    }
    header {
        @include flex-base-conditions($direction: row);
    }
}