@mixin flex-base($direction: column, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-base-style {
  all: unset;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.pageContainer {
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: #13131d;
  @include flex-base;

  .topSection {
    margin: auto;
    box-sizing: border-box;
    width: 95%;
    max-width: 360px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    @include flex-base($direction: row, $justify: space-between, $align: center);
  }

  .previewButton {
    @include button-base-style;
    font-size: 16px;
    background-color: #00A3FF;
  }
}

.menuAndOptionsContainer {
  @include flex-base($align: center);

  .editMenuContainer {
    width: 100%;
  }
}

.optionsSection {
  width: 95%;
  margin: 20px auto;
  @include flex-base;
  background-color: rgb(28, 28, 42);
  border: solid 1px #858585;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;

  .profilePicture {
    padding: 20px;
    @include flex-base($align: center);

    img {
      margin: 10px 0;
      box-sizing: border-box;
      border-radius: 20px;
      width: 100%;
      max-width: 360px;
      border: solid 3px #858585;
      cursor: pointer;
    }
  }

  .coverPhoto {
    padding: 20px;
    @include flex-base($align: center);

    img {
      margin: 10px 0;
      box-sizing: border-box;
      border-radius: 20px;
      width: 100%;
      max-width: 360px;
      border: solid 3px #858585;
      cursor: pointer;
    }
  }

  .uploadButton {
    @include button-base-style;
    background-color: #00A3FF;
  }

  .deleteButton {
    @include button-base-style;
    background-color: red;
  }
}

@media(min-width:500px) {
  .pageContainer {
    .topSection {
      max-width: 500px;
    }
  }

  .menuAndOptionsContainer {
    .editMenuContainer {
      max-width: 500px;
    }

    .optionsSection {
      .coverPhoto {
        img {
          max-width: 500px;
        }
      }
    }
  }
}

@media(min-width:768px) {
  .menuAndOptionsContainer {
    .optionsSection {
      .coverPhoto {
        img {
          max-width: 700px;
        }
      }
    }
  }
}

@media(min-width:1200px) {
  .pageContainer {
    .topSection {
      max-width: 1000px;
    }
  }

  .menuAndOptionsContainer {
    padding: 1vw 5vw;
    margin-bottom: 20px;
    @include flex-base($direction: row, $align: start);

    .editMenuContainer {
      margin: 0;
      max-width: 350px;
    }

    .optionsSection {
      margin: 0 auto;
      @include flex-base($direction: row);

      .profilePicture {
        align-items: start;
        flex: 1;
      }

      .coverPhoto {
        align-items: start;
        flex: 1.78;
      }
    }
  }
}