$silver-color: #ACACAC;
$blue-color: #00A3FF;
$medium-color-blue: #212E48;
$dark-color-blue: #242435;
$main-background: #13131d;

.ranking-container {
  background-color: $main-background;

  .createUserButton {
    display: flex;
    justify-content: flex-end;
    margin: 5vh 2vw 0 0;

    button {
      all: unset;
      border-radius: 10px;
      margin-right: 10px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      color: white;
      font-weight: bold;
      background-color: #00A3FF;
      cursor: pointer;
    }
  }

  .padding-btn-pagination {
    padding-bottom: 50px;
  }

  .ranking-padding-container {
    padding: 60px 30px 30px;

    .ranking-title {
      margin-bottom: 50px;

      h4 {
        margin: 0;
        font-size: 24px;
      }
    }

    .test {
      text-align: center;

      .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #FFF #FFF transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      .loader::after,
      .loader::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent $blue-color $blue-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
      }

      .loader::before {
        width: 32px;
        height: 32px;
        border-color: #FFF #FFF transparent transparent;
        animation: rotation 1.5s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }
    }


    .ranking-table {
      overflow-y: hidden;
      white-space: nowrap;
      border-radius: 10px;
      width: 100%;
      border: 3px solid $dark-color-blue;

      .table {
        background-color: $main-background;
        border-collapse: collapse;

        .table-head {
          background-color: $dark-color-blue;

          tr {
            .table-head-section {
              padding: 25px 10px;

              span {
                font-weight: 300;
              }
            }
          }
        }

        .table-body {
          tr {
            border: 3px solid $dark-color-blue;

            .table-body-section {
              padding: 10px;
              text-align: center;

              a {
                color: #fff;
              }
            }

            .table-img-section {
              a {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              }

              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    @media (min-width: 576px) {
      .ranking-table {
        .table {
          .table-head {
            tr {
              .table-head-section {
                padding: 25px 20px;
              }
            }
          }

          .table-body {
            tr {
              .table-body-section {
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      .ranking-table {
        .table {
          width: 100%;

          .table-head {
            tr {
              .table-head-section {
                span {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      padding: 60px 50px 30px;

      .ranking-table {
        .table {
          .table-head {
            tr {
              .table-head-section {
                span {
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}