@mixin flex-base($direction: column, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-base-style {
  all: unset;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.logInFormContainer {
  .pageContainer {
    box-sizing: border-box;
    background-color: #13131d;
    @include flex-base($align: center);

    .allLoginsContainer {
      width: 100%;
      @include flex-base($align: center);
    }
  }

  .formSection {
    width: 95%;
    max-width: 360px;

    form {
      @include flex-base;
      box-sizing: border-box;
      background-color: rgb(28, 28, 42);
      margin: 2vh 1vh 2vh 1vh;
      padding: 45px 35px;
      border: solid 1px #858585;
      border-radius: 10px;
      color: #858585;

      h1 {
        color: white;
      }

      p {
        line-height: 0.5;
      }

      label {
        @include flex-base;

        input[type="email"],
        input[type="password"] {
          box-sizing: border-box;
          width: 100%;
          margin-top: 5px;
          margin-bottom: 10px;
          padding: 5px 10px;
          background-color: rgb(36, 36, 54);
          border: solid 2px rgb(56, 57, 72);
          border-radius: 5px;
          color: white;
          cursor: auto;
        }

        input[type="checkbox"] {
          accent-color: rgb(93, 93, 126);
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .checkbox-label {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }

      :nth-child(4) {
        @include flex-base($direction: row);
        margin-bottom: 10px;
      }
    }
  }

  .buttonsSection {
    .loginButton {
      @include button-base-style;
      background-color: #00A3FF;
    }

    .signUpButton {
      @include button-base-style;
      background-color: rgb(33, 46, 73);
    }
  }

  .otherLoginSection {
    width: 95%;
    max-width: 360px;

    .otherLoginContainer {
      @include flex-base;
      box-sizing: border-box;
      background-color: rgb(28, 28, 42);
      margin: 2vh 1vh 2vh 1vh;
      padding: 45px 35px;
      border: solid 1px #858585;
      border-radius: 10px;
      color: #858585;

      h1 {
        color: white;
      }

      .otherLogin {
        @include flex-base($direction: row, $align: center);
        box-sizing: border-box;
        line-height: normal;
        margin: 10px 0 10px 0;
        padding: 10px;
        width: 100%;
        background-color: rgb(36, 36, 54);
        border: solid 2px rgb(56, 57, 72);
        border-radius: 5px;
        color: white;
        cursor: pointer;

        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  @media(min-width: 768px) {
    .formSection {
      max-width: 450px;

      form {

        input[type="email"],
        input[type="password"] {
          height: 55px;
        }
      }
    }

    .otherLoginSection {
      max-width: 450px;
    }
  }

  @media (min-width: 1200px) {
    .pageContainer {
      .allLoginsContainer {
        @include flex-base($direction: row, $justify: center);
      }
    }

    .formSection {
      form {
        @include flex-base($justify: space-evenly);
        height: 95.5%;

        input[type="email"],
        input[type="password"] {
          height: 55px;
        }
      }
    }
  }
}