.bid-secction{
  $blue-color: #00A3FF;
  margin-bottom: 2em;
  .top-seller {
    display: flex;
    margin-top: -6em;
    .top-seller__title {
      font-size: 14px;
      text-align: center;
      .select-option{
        border: none;
        margin-left: 10px;
        background-color: transparent;
        font-size: 14px;
        outline: none;
        color: $blue-color;
        .option {
          &:hover {
            border: none;
            margin-left: 20px;
            background-color: transparent;
            font-size: 24px;
            outline: none;
            color: $blue-color;
          }
        }
      }
    }
    .top-seller__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
