.simple-list{
    margin: 11px 0;
    color: #acacac;
    display: flex;
    margin-left: -2.5em;
}

a  {
    color: #acacac;
    font-weight: 400;
    transition: 0.4s;
    position: relative;
    text-decoration: none;
}
 
.widget-title{
    font-size: 1.4em;
    display: flex;
    margin-bottom: 10px;
}