.recent{
  margin-left: -1.5em;
  h2 {
    margin-left: 2em;
    margin-bottom: 1em;
    @media(min-width:520px) and (max-width:767px) {
      margin-left: 3.5em;
    }
    @media(min-width:768px) and (max-width:1023px) {
      margin-left: 3.5em;
    }
    @media(min-width:1024px) and (max-width:1279px) {
      margin-left: 2.5em;
    }
    @media(min-width: 1280px)and (max-width:1440px){
      margin-left: 6em;
    }
    @media(min-width: 1441px){
      margin-left: 6em;
    }
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 32px;
    margin: 0px 3em;
    @media(min-width:520px) and (max-width:767px) {
      margin: 0px 0em;
    }
    @media(min-width:768px) and (max-width:1023px) {
      margin: 0px 4em;
    }
    @media(min-width:1024px) and (max-width:1279px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 0px 3em;
    }
    @media(min-width: 1280px)and (max-width:1440px){
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 0px 7em;
    }

    @media(min-width: 1441px)and (max-width:1750px){
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 0px -15em;
      gap: 23px;
      padding: 0px 21em;
      padding-left: 23em;
    }

    @media (min-width:1751px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 0px 0em;
      gap: 15px;
      padding-left: 10em;
      padding-right: 10em;
    }
  }
}
