
.product-secction {
  $silver-color: #ACACAC;
  $blue-color: #00A3FF;
  $medium-color-blue: #212E48;
  $dark-color-blue: #242435;
  $silver-color: #ACACAC;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  background: #13131d;
  overflow-x: hidden;
  padding-bottom: 2em;

  *{
    box-sizing: border-box;
    margin-bottom: 0;

  }

  //ProductDetails
  .product-details{
    padding-top: 80px;
    .container{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .row{
        --bs-gutter-y: 3rem;
        --bs-gutter-x: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        gap: 32px;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * 2.5);
        margin-left: calc(var(--bs-gutter-x) * 0);
        @media(min-width:768px) and (max-width:1023px) {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
          gap: 32px;
        }
        @media (min-width:1024px) and (max-width:1279px) {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
          gap: 32px;
        }
        @media (min-width:1280px) and (max-width:1440px){
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
          gap: 32px;
        }
        @media (min-width:1441px){
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
          gap: 32px;
        }
      }

      .row>* {
        flex-shrink: 0;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
      }
    }

    .column{
      display: flex;
      margin-left:-2em;
      @media (min-width:1024px) and (max-width:1279px) {
          margin-left: 0em;
      }
      @media (min-width:1280px) and (max-width:1360px){
        margin-left: 0em;
      }
      @media (min-width:1361px) and (max-width:1440px){
        margin-left: 7em;
      }
      @media (min-width:1441px){
        margin-left: 7em;
      }
    }

    .content-area{
      display: flex;;
    }

    .title-area{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
      width: 2em;
      margin-bottom: -6em;
      @media(min-width:768px) and (max-width:1023px) {
        width: 68em;
      }
      @media (min-width:1024px) and (max-width:1279px){
        width: 68em;
        padding-top: 2em;
      }
      @media (min-width:1280px) and (max-width:1440px){
        width: 68em;
        padding-top: 2em;
      }
      @media (min-width:1441px){
        width: 68em;
        padding-top: 2em;
      }
    }

    .title{
      display: flex;
      margin-left: 2em;
      margin-top: -3em;
      font-size: 20px;
      @media(min-width:768px) and (max-width:1023px) {
        font-size: 32px;
        margin-top: -1.2em;
      }
      @media (min-width:1024px) and (max-width:1279px){
        font-size: 32px;
        margin-top: -1.2em;
        margin-bottom: 0.5em;
      }
      @media (min-width:1280px) and (max-width:1440px){
        font-size: 32px;
        margin-top: -1.2em;
        margin-bottom: 0.5em;
      }
      @media (min-width:1441px){
        font-size: 32px;
        margin-top: -1.2em;
        margin-bottom: 0.5em;
      }
    }
    .rew{
      display: flex;
      margin-top: -2em;
      margin-left: -0.5em;
      @media (min-width:1024px) and (max-width:1279px){
        margin-left: -15.5em;
      }
      @media (min-width:1280px) and (max-width:1440px){
        margin-left: -10.5em;
      }
      @media (min-width:1441px){
        margin-left: -10.5em;
      }
    }

    .span-bid {
      font-size: 12px;
      display: flex;
      margin-left: 3em;
      margin-bottom: -7em;
      .price{
        color: $blue-color;
        margin-left: 1em;
      }
      @media(min-width:768px) and (max-width:1023px){
        font-size: 16px;
        margin-left: 4em;
      }
      @media (min-width:1024px) and (max-width:1279px){
        font-size: 16px;
        margin-left: 4em;
      }
      @media (min-width:1280px) and (max-width:1440px){
        font-size: 16px;
        margin-left: 4em;
      }
      @media (min-width:1441px){
        font-size: 16px;
        margin-left: 4em;
      }
    }
    .title-name{
      display: flex;
      margin-top: -3em;
      margin-left: 2.5em;
      font-size: 15px;
      margin-bottom: -5em;
      @media(min-width:768px) and (max-width:1023px){
        font-size: 18px;
        margin-left: 3.2em;
      }
      @media (min-width:1024px) and (max-width:1279px){
        font-size: 18px;
        margin-left: 3.5em;
      }
      @media (min-width:1280px) and (max-width:1440px){
        font-size: 18px;
        margin-left: 3.5em;
      }
      @media (min-width:1441px){
        font-size: 18px;
        margin-left: 3.5em;
      }
    }

    .a-btn{
      display: flex;
      font-weight: 500;
      text-align: center;
      font-size: 12px;
      padding: 10px 34px;
      min-width: 160px;
      border-radius: 10px;
      background-color: #212e48;
      letter-spacing: .5px;
      justify-content: center;
      width: 24em;
      height: 4em;
      margin-left: 4em;
      margin-right: 1em;
      border: 0;
      box-shadow: none;
      outline: none;
      top: -10em;
      align-items: center;
      margin-bottom: 12em;
      position: unset;
      color: #fff;
      &:hover {
        background: $blue-color;
        color: #fff;
      }
      @media(min-width:768px) and (max-width:1023px){
        font-size: 16px;
        margin-left: 5em;
        margin-bottom: 10em;
      }
      @media (min-width:1024px) and (max-width:1279px){
        font-size: 16px;
        margin-left: 5em;
        margin-bottom: 10em;
      }

      @media (min-width:1280px) and (max-width:1440px){
        margin-left: 7em;
        margin-bottom: 10em;
        margin-bottom: 12em;
      }
      @media (min-width:1441px){
        margin-left: 7em;
        margin-bottom: 10em;
        margin-bottom: 12em;
      }
    }

    .button-option{
      display: block;
      border-radius: 5px;
      margin-top: -12em;

      .nav-button{
        border-bottom: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px,1fr));
        transition: 0.4s;
        background: #24243557;
        border: 1px solid #ffffff14;
        border-radius: 6px;
        width: 18em;

        @media(min-width:520px) and (max-width:767px) {
          width: 25em;
        }
        @media(min-width:768px) and (max-width:1023px) {
          display: flex;
          flex-wrap: wrap;
          width: 38em;
          margin-left: 2em;
        }
        @media(min-width:1024px) and (max-width:1279px){
          display: flex;
          flex-wrap: wrap;
          width: 25em;

        }
        @media (min-width:1280px) and (max-width:1440px){
          display: flex;
          flex-wrap: wrap;
          width: 29em;

        }
        @media (min-width:1441px){
          display: flex;
          flex-wrap: wrap;
          width: 29em;

        }

      }

      button{
        width: 20em;
        height: 3em;
        border: none;
        color: #fff;
        position: relative;
        margin: 6px;
        border-radius: 6px;
        border: 1px dashed #ffffff14;
        transition: .3s;
        background: 0;
        cursor: pointer;
        position: inherit;
        &:hover{
          background: #212e48;
          color:#fff;
          border-radius: 5px;
          border: transparent;
        }

        @media(min-width:768px) and (max-width:1023px) {
          width: 12em;
        }
        @media (min-width:1024px) and (max-width:1279px) {
          width: 12em;
        }
        @media (min-width:1280px) and (max-width:1440px) {
          width: 10em;
        }
        @media (min-width:1441px) {
          width: 10em;
        }
      }

      button.active {
        background-color: #212e48;
      }
      @media (min-width:1024px) and (max-width:1279px) {
        margin-left: 2em;
      }
      @media (min-width:1280px) and (max-width:1440px) {
        margin-left: 2em;
      }
      @media (min-width:1441px){
        margin-left: 2em;
      }
    }
  }

}
