$silver-color: #ACACAC;
$blue-color: #00A3FF;
$medium-color-blue: #212E48;
$dark-color-blue: #242435;
$main-background: #13131d;

* {
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.dark-mode {
  transition: 0.5s;
}

.ligth-mode {
  transition: 0.5s;
}